In [1]:
import datetime as dt

x = dt.datetime.now()
print(x)

2023-06-07 07:08:01.938119

In [18]:
import datetime

x = datetime.datetime.now()

print(x.year)
print(x.month)
print(x.day)

print(x.strftime("%D"))

2023
6
7
06/07/23

In [20]:
x = datetime.datetime.now()

name = input("Enter name = ")
y = datetime.datetime.now()
print(y-x)

Enter name = adasd
0:00:07.864847

In [23]:
# Comprehensions: List, Dictionary
a = [i*2 for i in range(1,11)]
a

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [24]:
a = [int(input("Enter value = ")) for i in range(1,11)]
a

Enter value = 234
Enter value = 234
Enter value = 234
Enter value = 234
Enter value = 234
Enter value = 234
Enter value = 345
Enter value = 234
Enter value = 534
Enter value = 34

[234, 234, 234, 234, 234, 234, 345, 234, 534, 34]

In [25]:
a = sum([int(input("Enter value = ")) for i in range(5)])
a

Enter value = 234
Enter value = 345
Enter value = 234
Enter value = 546
Enter value = 234

1593

In [29]:
a = {i:i**2 for i in range(1,10)}
a

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [1]:
a = {input("Enter key "):input("Enter value ") for i in range(2)}
a

Enter key a
Enter value Apple
Enter key b
Enter value Ball

{'a': 'Apple', 'b': 'Ball'}

In [2]:
n =2
a = {input("Enter name "):input("Enter value ") for i in range(n)}
a

Enter name Ram
Enter value 980889876
Enter name Shyam
Enter value 9808778765

{'Ram': '980889876', 'Shyam': '9808778765'}

In [3]:
import os
os.listdir()

['.git',
 '.ipynb_checkpoints',
 'bill.csv',
 'bill.txt',
 'bill1.csv',
 'bonus.ipynb',
 'covid_data.csv',
 'data.csv',
 'data.txt',
 'data1.txt',
 'Day2-io.ipynb',
 'dict.ipynb',
 'file.ipynb',
 'first_class.ipynb',
 'function.ipynb',
 'if else.ipynb',
 'list.ipynb',
 'loop.ipynb',
 'news_data.csv',
 'news_data.json',
 'oop.ipynb',
 'pandas.ipynb',
 'project.ipynb',
 'set.ipynb',
 'string.ipynb',
 'tuple.ipynb',
 'Untitled.ipynb',
 'Untitled1.ipynb']

In [4]:
os.mkdir('New_folder')

In [5]:
os.rename('New_folder','new_folder')

In [10]:
os.chdir('new_folder')

In [11]:
pwd

'C:\\Users\\Aayush\\python_class_630\\new_folder'

In [13]:
cd new_folder

C:\Users\Aayush\python_class_630\new_folder

In [14]:
cd ..

C:\Users\Aayush\python_class_630

In [15]:
os.remove('data.txt')

In [16]:
os.rmdir('new_folder')

In [17]:
import re

txt = "The rain in Spain"

#Check if "Portugal" is in the string:

x = re.findall("Spain", txt)
print(x)

if (x):
  print("Yes, there is at least one match!")
else:
  print("No match")

['Spain']
Yes, there is at least one match!