In [1]:
a = 10
b = 10.5
c = "Hello World"
d = True

In [2]:
# + - * / % ** //

In [3]:
c = a + b
print(c)

20.5

In [4]:
c = a - b
print(c)

-0.5

In [5]:
c = a * b
print(c)

105.0

In [6]:
c = a / b
print(c)

0.9523809523809523

In [7]:
a = 10
b = 3
c = a % b
print(c)

1

In [8]:
a = 10
b = 3
c = a ** b
print(c)

1000

In [11]:
a = 10
b = 3
c = a // b
print(c)

3

In [12]:
a = "Hello "
b = "World"
c = a + b
print(c)

Hello World

In [13]:
a = "Hello "
b = 45
c = a + b
print(c)

TypeError: can only concatenate str (not "int") to str

In [19]:
a = "Hello World\n"
b = 4
c = a * b
print(c)

Hello World
Hello World
Hello World
Hello World

In [20]:
a = True
b = False

c =a+b
print(c)

1

In [29]:
a = True
b = False

c = a * b
print(c)

0

In [27]:
p = 10000
t = 4
r = 10.5

i = p * t * r / 100

print("The value of i ",i)

The value of i  4200.0

In [24]:
#IO operation
a = input()
print(a)

10
10

In [26]:
a = input("Enter a = ")
print(a)

Enter a = 10
10

In [32]:
a = input("Enter a = ")
b = input("Enter b = ")
c = a+b
print(c)

Enter a = 10
Enter b = 10
1010

In [36]:
#type casting
a = int(input("Enter a = "))
b = int(input("Enter b = "))
c = a+b
print(c)

Enter a = 10
Enter b = 10
20

In [ ]:
# int() str() float()

In [38]:
a = 10
b = str(a)
b

'10'

In [39]:
a = "20"
b = int(a)
b

20

In [40]:
a = "Ten"
b = int(a)
b

ValueError: invalid literal for int() with base 10: 'Ten'

In [41]:
a = "10.5"
b = float(a)
b

10.5

In [42]:
a = "10.5"
b = int(a)
b

ValueError: invalid literal for int() with base 10: '10.5'

In [44]:
a = 10.5
int(a)

10

In [35]:
a = "10"
b = "10"
a+b

'1010'

In [45]:
p = int(input("Enter p = "))
t = float(input("Enter t = "))
r = float(input("Enter r = "))

i = p * t * r / 100

print("The value of i = ",i)

Enter p = 10000
Enter t = 3.5
Enter r = 10.5
The value of i =  3675.0

In [ ]:
physics = int(input("Enter physics marks = "))
chemistry = int(input("Enter chemistry marks = "))
math = int(input("Enter  math marks = "))
english = int(input("Enter english marks = "))
nepali = int(input("Enter nepali marks = "))

total = physics + chemistry + math + english + nepali

per = total/5

print("The total marks = ",total)
print("The per = ",per)

In [ ]:
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter add = ")

info = "Hello I am " + name + " I am from " + add + " I am " + str(age)
print(info)

In [1]:
a = 27
print(a**(1/3))

3.0