In [1]:
# Dict
# -Indexing
# -Multiple data 
# -Ordered
# -Mutable

In [2]:
# d = {<key>:<value>, <key>:<value>, <key>:<value>}

In [4]:
d = {"a":"Apple", "b":"Ball"}
print(d)
print(len(d))

{'a': 'Apple', 'b': 'Ball'}
2

In [6]:
print(d["b"])

Ball

In [7]:
d = {"a":"Apple", "b":"Ball"}
print(d)

{'a': 'Apple', 'b': 'Ball'}

In [ ]:
# d = dict()
# d = {}

In [9]:
d = {}
d['a'] = "Apple"
d['b'] = "Ball"
d['c'] = "Cat"
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [11]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
a['a'] = "apple"
a

{'a': 'apple', 'b': 'Ball', 'c': 'Cat'}

In [13]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
a['a'] = "Ant"
a

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [14]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
for i in a:
    print(i)

a
b
c

In [15]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
for i in a.values():
    print(i)

Apple
Ball
Cat

In [16]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
for i in a.items():
    print(i)

('a', 'Apple')
('b', 'Ball')
('c', 'Cat')

In [17]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    d[name] = phone
    
print(d)

Enter n = 2
Enter name = A
Enter phone = 9808778765
Enter name = Ram
Enter phone = 980878765
{'A': 9808778765, 'Ram': 980878765}

In [18]:
a = {}
a['a'] = 'Apple'
a['b'] = 'Ball'
a['c'] = 'Cat'
a

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [19]:
# No + *
d = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
a = {'e':'Egg','f':'Fish'}
d.update(a)
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'e': 'Egg', 'f': 'Fish'}

In [20]:
# del 
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'e': 'Egg', 'f': 'Fish'}
del a['a']
a

{'b': 'Ball', 'c': 'Cat', 'e': 'Egg', 'f': 'Fish'}

In [24]:
# pop
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'e': 'Egg', 'f': 'Fish'}
b = a.pop('a')
print(a)
print(b)

{'b': 'Ball', 'c': 'Cat', 'e': 'Egg', 'f': 'Fish'}
Apple

In [ ]:
# list inside dict

In [26]:
a = {'Ram':[984778765,980889765],'Shyam':[9845667654,980887876]}
a

{'Ram': [984778765, 980889765], 'Shyam': [9845667654, 980887876]}

In [30]:
a['Ram'][0]

984778765

In [32]:
a['Ram'][0] = 9848000000
a

{'Ram': [9848000000, 980889765], 'Shyam': [9845667654, 980887876]}

In [ ]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = int(input("Enter ntc phone = "))
    ncell_phone = int(input("Enter ncell phone = "))

    d[name] = [ntc_phone,ncell_phone]
    
print(d)

In [37]:
info = {'name':['Ram',"Shyam","Hari","Ram"],
       'age':[78,89,67,89],
       'add':['Kathmandu','Bhaktapur','Lalitpur',"Kathmandu"]}
info

{'name': ['Ram', 'Shyam', 'Hari', 'Ram'],
 'age': [78, 89, 67, 89],
 'add': ['Kathmandu', 'Bhaktapur', 'Lalitpur', 'Kathmandu']}

In [38]:
print(info['name'][0])
print(info['age'][0])
print(info['add'][0])

Ram
78
Kathmandu

In [43]:
c = 0
for i in info['name']:
    if "Ram" == i:
        print(info['name'][c],info['age'][c],info['add'][c])

    c = c+1

Ram 78 Kathmandu
Ram 89 Kathmandu

In [49]:
# dict inside list
data = [{'name':'Ram','age':45,'add':'Kathmandu'},
       {'name':'Shyam','age':54,'add':'Kathmandu'},
       {'name':'Hari','age':25,'add':'Jhapa'}]
data[2]['add']

'Jhapa'

In [47]:
# dict inside list
data = [{'name':'Ram','age':45,'add':['Kathmandu','Jhapa']},
       {'name':'Shyam','age':54,'add':['Kathmandu','Dhading']},
       {'name':'Hari','age':25,'add':['Jhapa','Kapan']}]
data

[{'name': 'Ram', 'age': 45, 'add': ['Kathmandu', 'Jhapa']},
 {'name': 'Shyam', 'age': 54, 'add': ['Kathmandu', 'Dhading']},
 {'name': 'Hari', 'age': 25, 'add': ['Jhapa', 'Kapan']}]

In [48]:
# dict inside dict
data = {1:{'name':'Ram','age':45,'add':{'Kathmandu'}},
       2:{'name':'Shyam','age':54,'add':'Kathmandu'},
       3:{'name':'Hari','age':25,'add':'Jhapa'}}

In [ ]:
# WAP to create dict inside dict with CRUD
# WAP to create list inside dict with CRUD
# WAP to create dict inside list with CRUD

In [1]:
# WAP to create list inside dict with CRUD
d = {'name':[],'age':[],'add':[]}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    d['name'].append(name)
    d['age'].append(age)
    d['add'].append(add)
    
print(d)

Enter n = 2
Enter name = Ram
Enter age = 45
Enter add = Kathmandu
Enter name = Sita
Enter age = 89
Enter add = Bhaktapur
{'name': ['Ram', 'Sita'], 'age': [45, 89], 'add': ['Kathmandu', 'Bhaktapur']}

In [2]:
# WAP to create dict inside list with CRUD
l= []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    data = {'name':name,'age':age,'add':add}
    l.append(data)
    
print(l)

Enter n = 2
Enter name = Ram
Enter age = 89
Enter add = Kathmandu
Enter name = Sita
Enter age = 78
Enter add = Jhapa
[{'name': 'Ram', 'age': 89, 'add': 'Kathmandu'}, {'name': 'Sita', 'age': 78, 'add': 'Jhapa'}]

In [4]:
# WAP to create dict inside dict with CRUD
d= {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    d[i] = {'name':name,'age':age,'add':add}
    
print(d)

Enter n = 2
Enter name = Ram
Enter age = 89
Enter add = Kathmandu
Enter name = Shyam
Enter age = 89
Enter add = Bhaktapur
{0: {'name': 'Ram', 'age': 89, 'add': 'Kathmandu'}, 1: {'name': 'Shyam', 'age': 89, 'add': 'Bhaktapur'}}