In [1]:
# # Python collection
# list
# tuple
# dic
# set

In [2]:
# # list
# Indexing
# Multiple and duplicate data
# Ordered
# Mutable

In [3]:
a = ["Apple","Ball","Cat","Fish"]
b = [1,2,3,4,5,6,7,8,9]
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>

In [6]:
a = ["Apple","Ball","Cat","Fish"]
print(a[0])
print(a[0:3])
print(a[0:3:2])

Apple
['Apple', 'Ball', 'Cat']
['Apple', 'Cat']

In [8]:
b = [1,2,3,4,5,6,7,8,9,1,2,3,4]
print(b)
print(len(b))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4]
13

In [9]:
a = ["Apple","Ball","Cat","Fish"]
b = [1,2,3,4,5,6,7,8,9,1,2,3,4]
c = a+b
print(c)

['Apple', 'Ball', 'Cat', 'Fish', 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4]

In [10]:
a = ["Apple","Ball","Cat","Fish"]
print(a*2)

['Apple', 'Ball', 'Cat', 'Fish', 'Apple', 'Ball', 'Cat', 'Fish']

In [11]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4]
print(a*2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4]

In [14]:
# a = []
a = list()
a = a + ["Apple"]
a = a + ["Ball"]
a

['Apple', 'Ball']

In [16]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    a = a + [x] 
    
print(a)

Enter n = 10
Enter x = 234
Enter x = 456
Enter x = 234
Enter x = 56
Enter x = 234
Enter x = 567
Enter x = 34
Enter x = 567
Enter x = 345
Enter x = 67
[234, 456, 234, 56, 234, 567, 34, 567, 345, 67]

In [18]:
a = [234, 456, 234, 56, 234, 567, 34, 567, 345, 67]
print("The max value = ",max(a))
print("The min value = ",min(a))
print("The sum = ",sum(a))
print("The avg = ",sum(a)/len(a))

The max value =  567
The min value =  34
The sum =  2794
The avg =  279.4

In [19]:
a = [234, 456, 234, 56, 234, 567, 34, 567, 345, 67]
a.sort()
print(a)

[34, 56, 67, 234, 234, 234, 345, 456, 567, 567]

In [20]:
a.reverse()
print(a)

[567, 567, 456, 345, 234, 234, 234, 67, 56, 34]

In [23]:
a = ["Zebra","Banana","Xray","apple","Cat"]
a.sort()
print(a)

['Banana', 'Cat', 'Xray', 'Zebra', 'apple']

In [24]:
a = ["Zebra","Banana","1Xray","apple","Cat"]
a.sort()
print(a)

['1Xray', 'Banana', 'Cat', 'Zebra', 'apple']

In [25]:
# #data entry
# append() insert() extend()

# #delete value
# del remove() pop()

In [27]:
# append
a = []
a.append("Apple")
a.append("Banana")
print(a)

['Apple', 'Banana']

In [28]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    a.append(x)
    
print(a)

Enter n = 5
Enter x = 243
Enter x = 435
Enter x = 56
Enter x = 3
Enter x = 546
[243, 435, 56, 3, 546]

In [29]:
a = [243, 435, 56, 3, 546]
a.insert(1,100)
a

[243, 100, 435, 56, 3, 546]

In [30]:
# a = [1,"One",10.5]

In [31]:
a = [243, 435, 56, 3, 546]
b = [1,2,3,4]
a.extend(b)
a

[243, 435, 56, 3, 546, 1, 2, 3, 4]

In [33]:
#update
a = ["Zebra","Banana","1Xray","apple","Cat"]
a[0] = "zebra"
a

['zebra', 'Banana', '1Xray', 'apple', 'Cat']

In [34]:
#index
a = ["Zebra","Banana","1Xray","apple","Cat"]
a.index("Zebra")

0

In [38]:
#index
a = ["Zebra","Banana","1Xray","apple","Cat","Zebra"]
for i in range(len(a)):
    if a[i] == "Zebra":
        print(i)

0
5

In [39]:
#Update multiple value
a = ["Zebra","Banana","1Xray","apple","Cat","Zebra"]
for i in range(len(a)):
    if a[i] == "Zebra":
        a[i] = "zebra"
        
print(a)

['zebra', 'Banana', '1Xray', 'apple', 'Cat', 'zebra']

In [41]:
# delete
a = ["Zebra","Banana","1Xray","apple","Cat","Zebra"]
del a[0]
print(a)

['Banana', '1Xray', 'apple', 'Cat', 'Zebra']

In [42]:
# remove()
a = ["Zebra","Banana","1Xray","apple","Cat","Zebra"]
a.remove("Banana")
a

['Zebra', '1Xray', 'apple', 'Cat', 'Zebra']

In [43]:
#pop()
a = ["Zebra","Banana","1Xray","apple","Cat","Zebra"]
a.pop(0)
print(a)

['Banana', '1Xray', 'apple', 'Cat', 'Zebra']

In [6]:
# remove()
a = ["Zebra","Banana","1Xray","apple","Cat","Zebra"]
l = a.count("Zebra")
for i in range(l):
    a.remove("Zebra")
    
a

['Banana', '1Xray', 'apple', 'Cat']

In [8]:
a = ["Zebra","Banana","1Xray","apple","Cat","Zebra"]
a.index("Banana")

1

In [11]:
a = ["Zebra","Banana","1Xray","apple","Cat","Zebra"]
for i in range(len(a)):
    if a[i] == "Zebra":
        print(i)

0
5

In [15]:
# search
a = ["Zebra","Banana","1Xray","apple","Cat","Zebra"]
if "Zebra" in a:
    print("Yes")
    print(a.count("Zebra"))
else:
    print("No")

Yes
2

In [17]:
# List inside list
a = [[1,2,3],
    [4,5,6],
    [7,8,9]]
print(a)
print(type(a))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
<class 'list'>

In [21]:
info = [["Ram",89,"Kathmandu"],
       ["Shyam",56,"Bhaktapur"],
       ["Hari",34,"Lalitpur"]]
print(info[0])
print(info[0][0])

['Ram', 89, 'Kathmandu']
Ram

In [22]:
info.append(["Sita",54,"Lalitpur"])
info

[['Ram', 89, 'Kathmandu'],
 ['Shyam', 56, 'Bhaktapur'],
 ['Hari', 34, 'Lalitpur'],
 ['Sita', 54, 'Lalitpur']]

In [24]:
info[0] = ['Rama',89,"Lalitpur"]
info

[['Rama', 89, 'Lalitpur'],
 ['Shyam', 56, 'Bhaktapur'],
 ['Hari', 34, 'Lalitpur'],
 ['Sita', 54, 'Lalitpur']]

In [25]:
info[0][0] = "Ram Prasad"
info

[['Ram Prasad', 89, 'Lalitpur'],
 ['Shyam', 56, 'Bhaktapur'],
 ['Hari', 34, 'Lalitpur'],
 ['Sita', 54, 'Lalitpur']]

In [1]:
info = [["Ram",89,"Kathmandu"],
       ["Shyam",56,"Bhaktapur"],
       ["Hari",34,"Lalitpur"]]
for i in range(1,len(info)):
    x = input(f"Enter surname of {info[i][0]}= ")
    info[i].insert(1,x)
    
print(info)

Enter surname of Ram= Prasad
Enter surname of Shyam= KC
Enter surname of Hari= GC
[['Ram', 'Prasad', 89, 'Kathmandu'], ['Shyam', 'KC', 56, 'Bhaktapur'], ['Hari', 'GC', 34, 'Lalitpur']]

In [7]:
info = [["Ram",89,"Kathmandu"],
       ["Shyam",56,"Bhaktapur"],
       ["Hari",34,"Lalitpur"]]
name = input("Enter name = ")
for i in info:
    if name.lower() == i[0].lower():
        print(i)

Enter name = shyam
['Shyam', 56, 'Bhaktapur']