In [1]:
# # Set
# -No indexing
# -No ordering
# -Multiple values but no duplicate values
# -Mutable

In [2]:
s = set()
s = {1,2,3,4,5,6,7,8,9}
print(type(s))

<class 'set'>

In [4]:
print(s[0])

TypeError: 'set' object is not subscriptable

In [1]:
s = {"apple","ball","cat","fish","dog"}
print(s)

{'dog', 'fish', 'ball', 'apple', 'cat'}

In [6]:
s

{'Apple', 'Ball', 'Cat', 'Dog', 'Fish'}

In [3]:
s = {34,56,22,78,1,78,34,23,79}
print(s)

{1, 34, 22, 23, 56, 78, 79}

In [4]:
s

{1, 22, 23, 34, 56, 78, 79}

In [6]:
s = {"apple","ball","ball","cat","fish","dog","apple"}
s

{'apple', 'ball', 'cat', 'dog', 'fish'}

In [9]:
s = ["apple","ball","ball","cat","fish","dog","apple"]
list(set(s))

['dog', 'apple', 'cat', 'ball', 'fish']

In [14]:
#Mutable
s = set()
s.add('apple')
s.add('ball')
s.add('cat')
s

{'apple', 'ball', 'cat'}

In [15]:
# in set and dic no + *

In [16]:
# update()
a = {1,2,3,4,5,6,7}
b = {5,6,7,2,3}
a.update(b)
a

{1, 2, 3, 4, 5, 6, 7}

In [17]:
#No list inside set
a = {[1,2,3]}
a

TypeError: unhashable type: 'list'

In [18]:
#  No dict inside set
a = {{"a":"Apple"}}
a

TypeError: unhashable type: 'dict'

In [19]:
#tuple inside set
a = {(1,2,3)}
a

{(1, 2, 3)}

In [20]:
#No  set inside set
a = {{1,2,3}}
a

TypeError: unhashable type: 'set'

In [21]:
apple = {"Ram","Shyam","Hari","Jobs","Steave","John"}
ms = {"Satya","Bill","Gates","Hari","John","Nabin"}

print(apple.intersection(ms))

{'Hari', 'John'}

In [23]:
print(apple.union(ms))

{'Ram', 'Satya', 'Hari', 'Shyam', 'Gates', 'John', 'Nabin', 'Steave', 'Bill', 'Jobs'}

In [24]:
apple - ms

{'Jobs', 'Ram', 'Shyam', 'Steave'}

In [25]:
ms - apple

{'Bill', 'Gates', 'Nabin', 'Satya'}

In [26]:
(apple - ms).union(ms - apple)

{'Bill', 'Gates', 'Jobs', 'Nabin', 'Ram', 'Satya', 'Shyam', 'Steave'}

In [28]:
a = {1,2,3,4,5,6,7,8,9,0}
b = {2,4,6,8,0}
print(a.issubset(b))
print(b.issubset(a))

False
True

In [29]:
print(a.issuperset(b))
print(b.issuperset(a))

True
False