In [1]:
# Tuple
# -Indexing
# -Multiple and duplicate data
# -Ordered
# -Imutable

In [2]:
# a = type()
# a = ()

In [10]:
a = (1,)
type(a)

tuple

In [11]:
a = (1,2,3,4,5,6,7,8,9,1)
print(a[0])
print(a[0:5])
print(a[0:10:2])

1
(1, 2, 3, 4, 5)
(1, 3, 5, 7, 9)

In [12]:
a = (1,2,3,4,5,6,7,8,9,1)
print(a)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 1)

In [13]:
a = (1,2,3,4)
b = (6,7,8,9)
c = a+b
print(c)

(1, 2, 3, 4, 6, 7, 8, 9)

In [14]:
a = (1,2,3,4)
print(a*2)

(1, 2, 3, 4, 1, 2, 3, 4)

In [15]:
# No append() insert() extend()
# No update
# No delete  remove() pop() del
# No sort()

In [16]:
# We can do max() min() sum() index()

In [20]:
a = ()
b = a+("Apple",)
c = b+("Banana",)
c

('Apple', 'Banana')

In [22]:
t = ()
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter value for tuple = ")
    t = t + (x,)
    
print(t)

Enter n = 2
Enter value for tuple = Apple
Enter value for tuple = Ball
('Apple', 'Ball')

In [23]:
a = (1,2,3)
b = list(a)
b

[1, 2, 3]

In [24]:
a = [1, 2, 3]
b = tuple(a)
b

(1, 2, 3)

In [26]:
a = (1,2,3)
b = list(a)
del b[0]
a = tuple(b)
a

(2, 3)

In [27]:
a = "Python"
list(a)

['P', 'y', 't', 'h', 'o', 'n']

In [28]:
a = "Python"
tuple(a)

('P', 'y', 't', 'h', 'o', 'n')

In [30]:
a = 11
tuple(a)

TypeError: 'int' object is not iterable